@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  margin: 0 auto;
  padding: 0;
  width: 500px;
  background: #e8e8e8;
  font-family: "Montserrat", sans-serif;
}

.blackBg {
  text-align: center;
  padding-top: 30px;
  background: #1d1d1d;
  color: white;
  height: 200px;
}

.blackBg p {
  text-align: left;
  font-size: 21px;
  width: 300px;
  margin: 25px auto;
}

.addBtn {
  cursor: pointer;
  outline: none;
  font-weight: 800;
  margin: 5px auto 0 auto;
  background: #5ad10f;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 50px;
  padding: 10px 75px;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.addBtn:hover {
  outline: none;
  transform: scale(1.05);
  background: #65e715;
}

.active {
  z-index: 2;
  font-size: 16px;
  color: #363636;
  width: 500px;
  text-align: center;
  position: fixed;
  top: 0px;
  background: #d8d8d8;
  animation: fadeIn 0.5s ease-in-out;
}

.hidden {
  z-index: 2;
  font-size: 16px;
  color: #363636;
  width: 500px;
  text-align: center;
  position: fixed;
  top: 0px;
  background: #d8d8d8;
  visibility: hidden;
  transform: translateY(-450px);
  animation: fadeOut 0.7s ease-in-out;
}

.iB_Container {
  margin: 35px auto 7px auto;
}

input {
  outline: none;
  margin: 2px auto;
  padding: 8px 15px;
  border: 1px solid #eee;
  border-left: 4px solid #eee;
  border-radius: 15px;
  transition: border-color 0.5s ease-out;
}

#pages {
  width: 125px;
}

input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  text-align: center;
  transition: 0.5s ease-out;
}

input:focus {
  border-left-color: palegreen;
}

input:focus::placeholder {
  opacity: 0;
}

.subBtn {
  cursor: pointer;
  outline: none;
  margin: 13px auto 0 auto;
  padding: 5px 65px;
  background: #1d92ff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: 0.3s ease-out;
}

.subBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px 0px #0099ffa6;
  background: #2495ff;
}

.none {
  display: none;
}

.cardContainer {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.complet {
  cursor: default;
  z-index: 0;
  margin: 30px auto;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background-color: #95ca25;
  color: #167e24;
  font-size: 25px;
  text-align: center;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 5px 10px 0px #96ca25c2;
}

.progress {
  cursor: default;
  z-index: 0;
  margin: 30px auto;
  width: 200px;
  border-radius: 10px;
  background-color: #fe572d;
  color: #eaed89;
  font-size: 25px;
  text-align: center;
  height: 250px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 5px 10px 0px #fe572dd7;
}

.cardInfo {
  font-weight: 500;
  margin: 15px auto;
  line-height: 55px;
}

.deletex {
  cursor: pointer;
  width: 10px;
  height: 0px;
  font-family: cursive;
  float: right;
  font-size: 18px;
  margin: -17px 10px 0 0px;
  font-weight: 700;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.progress:hover {
  background-color: #fe572d;
  transform: scale(1.03);
  box-shadow: 0px 2px 15px 0px #fe572dd7;
}

.progress:hover .deletex {
  opacity: 0.8;
}

.complet:hover .deletex {
  opacity: 0.8;
}

.complet:hover {
  background-color: #95ca25;
  transform: scale(1.03);
  box-shadow: 0px 2px 15px 0px #96ca25c2;
}
.swContainer {
  color: rgb(36, 36, 36);
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 10px auto 0 auto;
}
.switch {
  margin: 13px 0 0 0;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.sm-txt {
  font-size: 15px;
  text-transform: capitalize;
}

.tt-txt {
  margin: 0px 7px;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
}

.md-txt {
  cursor: pointer;
  font-size: 22px;
  font-weight: 900;
  text-transform: capitalize;
}

.cancelBtn {
  opacity: 0.5;
  cursor: pointer;
  width: 27px;
  height: 20px;
  margin: 20px auto 0 auto;
  animation: bounce 1s ease-in-out alternate infinite;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  border-radius: 34px;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #95ca25;
}

input:focus + .slider {
  box-shadow: 0 0 1px #95ca25;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

@keyframes fadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(-250px);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-2px);
  }
}
